.addF {
  background-color: rgba(125, 221, 178, 0.65);
  width: 400px;
  padding: 60px;
  border-radius: 12px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 70px;
  text-align: center;
  color: #4e5857;
}
.input {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}